@charset "UTF-8";
/* Сброс стилей для всех элементов */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Сброс стилей для текста */
body {
  font-family: sans-serif;
  line-height: 1.5;
  background: transparent;
  color: inherit;
}

/* Сброс для заголовков h1 - h6 */
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: normal;
  line-height: 1.2;
}

/* Сброс для абзацев */
p {
  margin: 0;
}

/* Сброс для изображений */
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0;
}

/* Сброс для списков ul, ol и элементов списка li */
ul, ol {
  list-style: none;
}

li {
  margin: 0;
}

/* Сброс для div */
div {
  display: block;
}

/* Сброс для ссылок */
a {
  text-decoration: none;
  color: inherit;
}

/* Сброс для таблиц */
table {
  border-collapse: collapse;
}

th, td {
  padding: 0;
  text-align: left;
}

/* Сброс для форм */
form {
  margin: 0;
  padding: 0;
}

/* Сброс для кнопок */
button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

/* Сброс для input, textarea и других элементов формы */
input, textarea, select, button {
  font: inherit;
  border: none;
  outline: none;
}

/* Сброс для ссылок в блоках */
a:focus, a:hover {
  outline: none;
}

.sectiorn {
  width: 100%;
}

.container {
  width: 375px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #000;
}

:root {
  --main-color: rgba(50, 57, 65, 1);
  --acent-color: rgba(0, 158, 255, 1) ;
}

.header__container {
  padding: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__burger-menu {
  margin-left: 4px;
  margin-right: 100px;
}

.header__logo {
  margin-right: 50px;
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__action-link--phone {
  margin-right: 10px;
}

.header__action-link--insta {
  margin-right: 10px;
}

.cards-slider__container {
  position: relative;
  background-color: var(--main-color);
}

.cards-slider__button--prev {
  position: absolute;
  top: 37px;
  left: 5px;
}

.cards-slider__button--next {
  position: absolute;
  top: 37px;
  right: 5px;
}

.arow-left {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.cards-slider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 103px;
}

.cards-slider__card {
  width: 103px;
  padding: 12px;
}

.cards-slider__card--active {
  background-color: var(--acent-color);
}

.cards-slider__caption {
  margin-top: 10px;
}

.cards-slider__image {
  margin-left: auto;
  margin-right: auto;
}

.cards-slider__text {
  font-size: 15px;
  font-weight: 600;
  line-height: 17.89px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: rgb(196, 196, 196);
}

.product-slider__container {
  padding-left: 17px;
  padding-right: 17px;
  position: relative;
}

.product-slider__stock-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 105px;
  height: 30px;
  border: 2px solid rgb(106, 205, 104);
  color: rgb(106, 205, 104);
  margin: 16px auto 0;
  margin-bottom: 16px;
}

.product-slider__title {
  font-size: 37px;
  font-weight: 700;
  line-height: 34.34px;
  text-align: center;
  margin-bottom: 10px;
}

.product-slider__button {
  position: absolute;
}

.product-slider__button--prev {
  top: 50%;
  left: 4%;
}

.product-slider__button--next {
  top: 50%;
  right: 4%;
}

.product-slider__indicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 64px;
  margin: 8px auto 20px;
}

.product-slider__indicator {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgb(153, 153, 153);
  margin-right: 5px;
}

.product-slider__indicator--active {
  background-color: var(--acent-color);
}

.accessory-promo__container {
  width: 355px;
  border: 6px solid rgb(0, 158, 255);
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}

.accessory-promo__figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.accessory-promo__title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.5px;
  text-align: left;
  margin-top: 10px;
}

.accessory-promo__highlight {
  color: var(--acent-color);
}

.accessory-promo__description {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 300;
  line-height: 17.05px;
  letter-spacing: 0.02em;
  text-align: left;
}

.accessory-promo__image {
  width: 120px;
}

.warranty__container {
  padding: 20px;
  margin-bottom: 25px;
  border: 5px solid rgb(153, 153, 153);
}

.warranty__title {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.92px;
  text-align: center;
}

.warranty__brand {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.92px;
  text-align: center;
}

.warranty__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px;
}

.warranty__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100px;
  padding: 5px;
  border: 1.09px solid rgb(153, 153, 153);
}

.warranty__option span {
  width: 100%;
}

.warranty__price {
  font-size: 18px;
  font-weight: 700;
  line-height: 18.59px;
  text-align: center;
  color: var(--acent-color);
}

.warranty__old-price {
  font-size: 22px;
  font-weight: 300;
  line-height: 26.8px;
  text-align: center;
  text-decoration-line: line-through;
}

.warranty__new-price {
  font-size: 38px;
  font-weight: 700;
  line-height: 46.28px;
  text-align: center;
  margin-bottom: 20px;
}

.warranty__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.warranty__button {
  width: 150px;
  height: 48px;
  background-color: var(--acent-color);
  color: white;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  text-align: center;
}

.payment__title {
  font-size: 18px;
  font-weight: 300;
  line-height: 21.92px;
  text-align: center;
  margin-bottom: 20px;
}

.payment__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 18px;
}

.payment__item {
  margin-right: 4px;
  margin-bottom: 4px;
}

.payment__info {
  color: var(--acent-color);
  font-size: 18px;
  font-weight: 600;
  line-height: 21.92px;
  text-align: center;
  margin-bottom: 20px;
}

.payment__provider-logo {
  display: inline;
}

.payment__link-qualify {
  color: rgb(106, 205, 104);
  font-size: 18px;
  font-weight: 600;
  line-height: 21.92px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.location__container {
  background: rgba(153, 153, 153, 0.08);
}

.location__image {
  width: 220px;
  margin: 55px auto 36px;
}

.location__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  text-align: center;
  margin-bottom: 10px;
}

.location__description {
  font-size: 18px;
  font-weight: 300;
  line-height: 21.92px;
  text-align: center;
  color: rgb(50, 57, 65);
  margin-bottom: 82px;
}

.location__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 18px;
}

.location__item {
  background-color: #fff;
}

.location__button {
  width: 86px;
  height: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.packing-list__title {
  margin-top: 50px;
  font-size: 26px;
  font-weight: 700;
  line-height: 32.5px;
  text-align: center;
}

.packing-list__wrapper {
  position: relative;
}

.packing-list__content {
  width: 296px;
  height: 296px;
  background-color: var(--acent-color);
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.packing-list__image {
  position: absolute;
  top: 0;
  left: 3%;
}/*# sourceMappingURL=main.css.map */