
.kickscooter-overview__title{
  font-size: 28px;
  font-weight: 700;
  line-height: 32.5px;
  text-align: center;
  
}
.kickscooter-overview__subtitle{
  color: var(--acent-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 21.47px;
  text-align: center;
}
.kickscooter-overview__content{
  position: relative;
}

.kickscooter-overview__list{
  list-style: decimal;
  width: 215px;
  position: absolute;
  top: 1px;
  right: 1px;
}
.kickscooter-overview__item{
  color: rgba(153, 153, 153, 1);
  font-size: 16px;
  font-weight: 300;
  line-height: 18.29px;
  text-align: left;
}