.location__container{
  background: rgba(153, 153, 153, 0.08);

}
.location__image{
  width: 220px;
  margin: 55px auto 36px;
}
.location__title{
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  text-align: center;
  margin-bottom: 10px;
}
.location__description{
  font-size: 18px;
  font-weight: 300;
  line-height: 21.92px;
  text-align: center;
  color: rgba(50, 57, 65, 1);
  margin-bottom: 82px;
}
.location__list{
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
}
.location__item{
  background-color: #fff;
}
.location__button{
  width: 86px;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;

}